.content {
  animation: appear 400ms ease-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .content {
    animation: none;
  }
}
